
.ficha-classes-container .classe-modal {
    width: 75%;
    height: 95%;
    border: solid 5px var(--dark-blue);
    background-color: var(--black-transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ficha-container .ficha-classes-container .classe-modal .classe-header {
    width: 100%;
    height: 8%;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ficha-container .ficha-classes-container .classe-modal .classe-header h1 {
    font-size: 3rem;
    margin: 5px;
}

.ficha-container .ficha-classes-container .classe-modal .classe-section {
    height: 82%;
    width: 100%;
    overflow-y: auto;
}

.ficha-container .ficha-classes-container .classe-modal .classe-section table {
    width: 100%;
    border-collapse: collapse;
}

.ficha-container .ficha-classes-container .classe-modal .classe-section table tr {
    border-collapse: collapse;
    width: 100%;
}

.ficha-container .ficha-classes-container .classe-modal .classe-section table tr th {
    border-collapse: collapse;
    background-color: var(--blue);
    text-align: left;
    
}

.ficha-container .ficha-classes-container .classe-modal .classe-section table tr th h2 {
    margin: 5px;
    font-weight: 500;
    font-size: 3rem;
}

.ficha-container .ficha-classes-container .classe-modal .classe-section table tr th .classe-nivel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ficha-container .ficha-classes-container .classe-modal .classe-section table tr th .classe-nivel input {
    width: 5vw;
    background-color: var(--black-transparent);
    border: solid 3px var(--dark-blue);
    margin: 5px;
    color: var(--white);
    text-shadow: var(--borda-texto);
    font-family: textFont, sans-serif;
    font-size: 2.5rem;
    padding-left: 10px;
    text-align: center;
}

.ficha-container .ficha-classes-container .classe-modal .classe-section table tr td input {
    width: 95%;
    background-color: var(--black-transparent);
    border: solid 2px var(--blue);
    margin: 5px;
    color: var(--white);
    text-shadow: var(--borda-texto);
    font-family: textFont, sans-serif;
    font-size: 2.5rem;
    padding-left: 10px;
}

.ficha-container .ficha-classes-container .classe-modal .classe-section table tr td textarea {
    width: 95%;
    height: 40vh;
    background-color: var(--black-transparent);
    border: solid 2px var(--blue);
    margin: 5px;
    color: var(--white);
    text-shadow: var(--borda-texto);
    font-family: textFont, sans-serif;
    font-size: 2.5rem;
    padding-left: 10px;
    resize: vertical;
}

.ficha-classes-container .classe-modal footer {
    width: 100%;
    height: 10%; 
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ficha-classes-container .classe-modal footer .botao-primario {
    font-size: 3rem;
    margin: 5px;
}

@media screen and (min-height: 480px) and (max-height: 900px) {
    .ficha-container .ficha-classes-container .classe-modal .classe-header h1 {
        font-size: 2rem;
    }
    .ficha-container .ficha-classes-container .classe-modal .classe-section table tr th h2 {
        font-size: 2rem;
    }
    .ficha-container .ficha-classes-container .classe-modal .classe-section table tr th .classe-nivel input {
        font-size: 2rem;
    }
    .ficha-container .ficha-classes-container .classe-modal .classe-section table tr td input {
        font-size: 1.5rem;
    }
    .ficha-container .ficha-classes-container .classe-modal .classe-section table tr td textarea {
        font-size: 1.5rem;
        height: 30vh;
    }
    .ficha-classes-container .classe-modal footer .botao-primario {
        font-size: 1.75rem;
    }
}
